.app-footer {
    bottom: 0;
    margin: 0;
    padding: 0;
    grid-area: footer;
    background-color: $clr1;
    color: #95adbe;
    display: flex;
    align-items: center;
    height: 72px;

    .controls-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;

        .player-controls-main {
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .player-controls-left {
                display: flex;
                justify-content: flex-end;
                // gap: 8px;

                .shuffle-btn {
                    position: relative;
                    @include btn($type: generalPlayerBtn);
                }

                .prev-song-btn {
                    @include btn($type: generalPlayerBtn);
                }
            }

            .play-btn {
                display: flex;
                align-items: center;
                background-color: white;
                height: 32px;
                width: 32px;
                color: black;
                border-radius: 32px;
                transition: transform 0.1s;

                &:hover {
                    transform: scale(1.08);
                }
            }

            .player-controls-right {
                display: flex;
                justify-content: flex-start;
                // gap: 8px;

                .next-song-btn {
                    @include btn($type: generalPlayerBtn);
                }

                .loop-btn {
                    position: relative;
                    @include btn($type: generalPlayerBtn);
                }
            }
        }

        .progress-container {
            margin-top: 5px;
            display: flex;
            // justify-content: center;
            width: 100%;
            // align-items: center;
            gap: 8px;
            font-size: $font-size-12;

            .progress-bar-container {
                @include container($type: barContainer);


                .input-bar {
                    margin-top: 0;
                    margin-inline: 0;
                    width: 100%;
                    margin-bottom: 5px;
                }

                .following-bar {
                    margin-top: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 4px;
                    border-radius: 4px;
                    background-color: white;
                    pointer-events: none;
                }
            }

            .progress-bar-container:hover .following-bar {
                background-color: #1ed760;
            }

            .song-duration {
                color: #a7a7a7;
                margin-left: 47px;
                min-width: 40px;
                text-align: right;
                cursor: context-menu
            }

            .song-remainder {
                color: #a7a7a7;
                margin-right: 47px;
                min-width: 40px;
                text-align: left;
                cursor: context-menu
            }
        }
    }

    .player-extra-controls {
        padding-inline-end: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        flex: 1;

        button {
            padding: 0;
            margin: 3px;
        }

        .volume-controls {
            display: flex;

            .mute-btn {
                display: flex;

                &:hover {
                    path {
                        fill: white;
                    }
                }
            }

            .volume-bar-container {
                @include container($type: barContainer);

                .volume-bar {

                    margin-top: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 9px;
                }

                .following-bar {
                    max-width: 100%;
                    margin-top: 9px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 4px;
                    border-radius: 4px;
                    background-color: white;
                    pointer-events: none;
                }
            }

            .volume-bar-container:hover .following-bar {
                background-color: #1ed760;
            }
        }
    }

    .input-bar {
        margin-inline: 0;
        -webkit-appearance: none;
        background: transparent;
        appearance: none;

        &::-webkit-slider-thumb {
            position: relative;
            height: 12px;
            width: 12px;
            border-radius: 8px;
            background: white;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5px;
            display: none;
            z-index: 10;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            background: #4d4d4d;
            border-radius: 5px;
        }

        &:hover {
            &::-webkit-slider-thumb {
                display: block;
            }
        }
    }
}

.active {
    path {
        fill: #1ed760;
        stroke: #1ed760;
    }
}

.loop-btn.active::after,
.shuffle-btn.active::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #1ed760;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}