.app-footer {
    margin: 0;
    padding: 0;
    grid-area: footer;
    background-color: $clr1;
    color: #95adbe;
    display: flex;
    align-items: center;
    height: 72px;

    .controls-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;

        .player-controls-main {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            .player-controls-left {
                display: flex;
                justify-content: flex-end;
                flex: 1;
                gap: 8px;

                .shuffle-btn {
                    position: relative;
                    @include btn($type: generalPlayerBtn);


                }

                .prev-song-btn {
                    @include btn($type: generalPlayerBtn);
                }
            }

            .play-btn {
                display: flex;
                align-items: center;
                background-color: white;
                height: 32px;
                width: 32px;
                color: black;
                border-radius: 32px;
            }

            .player-controls-right {
                display: flex;
                justify-content: flex-start;
                flex: 1;
                gap: 8px;

                .next-song-btn {
                    @include btn($type: generalPlayerBtn);
                }

                .loop-btn {
                    position: relative;
                    @include btn($type: generalPlayerBtn);
                }
            }
        }

        .progress-bar-container {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
            gap: 8px;
            font-size: $font-size-12;


            .input-bar {
                width: 80%;
            }

            .song-duration {
                min-width: 40px;
                text-align: right;
                cursor: context-menu
            }

            .song-remainder {
                min-width: 40px;
                text-align: left;
                cursor: context-menu
            }
        }
    }

    .player-extra-controls {
        padding-inline-end: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        flex: 1;

        button {
            padding: 0;
            margin: 3px;
        }

        .volume-controls {
            display: flex;

            .mute-btn {
                display: flex;

                &:hover {
                    path {
                        fill: white;
                    }
                }
            }

            .volume-bar {
                display: flex;
                align-items: center;
            }
        }
    }

    .input-bar {
        -webkit-appearance: none;
        appearance: none;
        height: 3px;
        background: #b3b3b3;
        outline: none;
        border-radius: 3px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 12px;
            width: 12px;
            background: #fff;
            border-radius: 50%;
            border: 0;
            cursor: pointer;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        }

        ::-webkit-slider-thumb:hover {
            background: #2e8b57;
        }
    }

    .following-bar {
        align-self: center;
        position: absolute;
        left: 31vw;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        // background-color: #1db954;
    }

    .active {
        path {
            fill: #1ed760;
            stroke: #1ed760;
        }
    }

    .loop-btn.active::after,
    .shuffle-btn.active::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background-color: #1ed760;
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
    }
}