.main-view-header {
    // display: flex;
    background-color: transparent;
    position: absolute;
    height: 64px;
    z-index: 1;
    width: 100%;
    margin-right: 8px;
    border-radius: 7px;

    .prev-next-container {
        // background-color: transparent;

        display: flex;
        align-items: center;
        padding-top: 15px;
        margin-left: 6px;

        button.prev-btn,
        button.next-btn {
            @include btn($type: regular);
            background-color: $clr15;
            border-radius: 50%;
            height: 38px;

            svg {
                width: 20px;
                height: 16px;

                path {
                    stroke: $clr3;
                    fill: $clr3;
                    stroke: width px;
                }
            }
        }
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    // .user-info .btn-link {
    //     color: $clr2;
    // }

    // nav {
    //     font-size: .8em;
    //     background-color: $clr5;
    //     padding: 5px;

    // }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    // nav .active {
    //     color: $clr1;
    // }

}

.main-view-header.header-scrolled {
    background-color: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--background-noise);
    background-color: var(--bg-color);
    height: 64px;
    margin-right: 8px;

}