.main-view-header {

    position: sticky;
    top: 0;
    background: opacity(0);
    height: 64px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // top: 0;
    padding-inline: 16px;
    padding-block: 42px;
    border-top-right-radius: 5px;
    // width: calc(100vw - 400px);
    background-color: var(--bg-color);
    transition: background-color 0.8s ease-out;

    // &.intersected {
    //     z-index: 100;
    //     background-color: var(--bg-color) // background: opacity(1);

    // }
    &.intersected {
        z-index: 100;
        background-color: var(--bg-color) // background: opacity(1);
    }

    // .main-view-header.search {
    //     z-index: 100;
    //     background-color: red // background: opacity(1);
    // }

    &.search {
        z-index: 100;
        background-color: black // background: opacity(1);
    }

    &.bgBlack {
        background-color: $clr8;
    }

    .prev-next-container {
        // background-color: transparent;
        display: flex;
        align-items: center;

        padding-block: 8px;

        button.prev-btn,
        button.next-btn {
            @include btn($type: regular);
            background-color: $clr15;
            border-radius: 50%;
            height: 38px;
            display: flex;
            align-items: center;

            svg {
                width: 20px;
                height: 16px;

                path {
                    stroke: $clr3;
                    fill: $clr3;
                    stroke: width px;
                }
            }
        }
    }


    .login-btn {
        background-color: white;

        font-size: $font-size-16;
        font-family: circular-bold;
        width: 110px;
        height: 48px;
        border-radius: 50px;
        min-width: 110px;

        a: {
            text-decoration: none;


        }

        a:visited {
            color: black;
        }

        &:hover {
            filter: brightness(95%);
            transform: scale(1.04);
        }
    }

    .searchbar-container {
        display: flex;

        .search-page-searchbar {
            display: flex;
            flex: 1 1 100%;
            width: 100%;
            height: 48px;
            background-color: #242424;
            padding: 6px 36px;
            border-radius: 500px;
            border: 0;
            color: white;

        }
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    // .user-info .btn-link {
    //     color: $clr2;
    // }

    // nav {
    //     font-size: .8em;
    //     background-color: $clr5;
    //     padding: 5px;

    // }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    // nav .active {
    //     color: $clr1;
    // }



}

.main-view-header.header-scrolled {
    background-color: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--background-noise);
    background-color: var(--bg-color);
    height: 64px;
    margin-right: 8px;

}

.main-view-header.collapsed {
    width: calc(100vw - 115px)
}