.main-container {
    // grid-area: main-view;
    // position: relative;

    .find-more-btn {
        display: block;
        margin-left: auto;
        background: none;
        padding-left: 26px;

        .find-more-text {
            font-size: $font-size-14;
            color: $clr2;
            font-weight: 700;
        }
    }

    .song-list {
        .song-info {
            display: grid;
            grid-template-columns:
                minmax(120px, 4fr) minmax(120px, 2fr) minmax(120px, 1fr);
            column-gap: em(16px);
            grid-template-rows: em(56px);
            align-items: center;

            &:hover {
                background-color: hsla(0, 0%, 100%, .15);
                border-radius: 5px;
            }

            grid-template-areas: "img album add-song";

            .basic-song-info {
                grid-area: img;
                align-items: center;

                img {
                    border-radius: em(4px);
                    margin-right: em(12px);
                    width: em(40px);
                    height: em(40px);
                }

                .song-desc {
                    flex-direction: column;
                    justify-content: center;


                    .song-title {}

                    .song-artist {
                        h4 {

                            font-size: $font-size-14;
                            color: $clr3;
                            margin: 0;
                        }

                    }
                }

            }

            .album {
                grid-area: album;
                color: $clr3;
                font-size: $font-size-14;
            }

            .add-song {
                grid-area: add-song;
                padding-left: 60px;

                .add-song-btn {
                    font-size: $font-size-14;
                    background-color: transparent;
                    border-radius: 3em;
                    text-align: center;
                    transition-duration: 33ms;
                    transform: translate3d(0px, 0px, 0px);
                    border: 1px solid #727272;
                    font-weight: 700;
                    color: white;

                    // padding-block-start: 3px;
                    // padding-block-end:3px;
                    padding-inline-start: 15px;
                    padding-inline-end: 15px;

                    &:hover {
                        transform: scale(1.04);
                        border: 1px solid white;
                    }
                }
            }
        }
    }

    .add-song-container {
        border-top: 1px solid hsla(0, 0%, 100%, .1);
        width: 100%;
        margin-right: 30px; // display: flex;
        // flex-direction: column;

        .search-song-container {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;

            .find-song {
                color: $clr2;
                font-size: em(23.5px);
                margin-bottom: em(16px);
            }
        }

        .song-desc {
            flex-direction: column;
        }



        .close-search-btn {
            margin-right: em(8px);
            background: none;

            svg {
                fill: $clr3;
                height: 1.5rem;
            }
        }
    }

    .expanded {
        margin-left: 0;
    }
}