.song-list {
    .song-preview {
        // padding-left: 16px;

        .song-info {
            display: grid;
            grid-template-columns:
                minmax(120px, 4fr) minmax(120px, 2fr) minmax(120px, 1fr);
            column-gap: em(16px);
            grid-template-rows: em(56px);
            align-items: center;
            grid-template-areas: "img album add-song";

            .basic-song-info {
                padding-left: 16px;
                grid-area: img;
                align-items: center;

                img {
                    border-radius: em(4px);
                    margin-right: em(12px);
                    width: em(40px);
                    height: em(40px);
                }

                .song-desc {
                    flex-direction: column;
                    justify-content: center;


                    // .song-title {}

                    .song-artist {
                        h4 {

                            font-size: $font-size-14;
                            color: $clr3;
                            margin: 0;
                        }

                    }
                }

            }

            .album {
                grid-area: album;
                color: $clr3;
                font-size: $font-size-14;
            }

            .add-song {
                grid-area: add-song;
                justify-self: end;
                padding-right: 30px;

                .add-song-btn {
                    font-size: $font-size-14;
                    background-color: transparent;
                    border-radius: 3em;
                    text-align: center;
                    transition-duration: 33ms;
                    transform: translate3d(0px, 0px, 0px);
                    border: 1px solid #727272;
                    font-weight: 700;
                    color: white;

                    // padding-block-start: 3px;
                    // padding-block-end:3px;
                    padding-inline-start: 15px;
                    padding-inline-end: 15px;

                    &:hover {
                        transform: scale(1.04);
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}