.search-song {
    .search-container {
      display: flex;
      align-items: center;
      background-color: hsla(0, 0%, 100%, .1);
      border-radius: 4px;
      color: hsla(0, 0%, 100%, .7);
      width: 365px;

  
      input {
        flex: 1; /* Take up remaining space */
        background-color: transparent; /* Transparent background */
        border: 0;
        color: hsla(0, 0%, 100%, .7);
        font-size: 0.875rem;
        height: 40px;
        width: 100%;
        opacity: 1;
        outline: none;
        text-align: left;
  
        &::placeholder {
          color: $clr3;
        }
      }
  
      svg {
        width: 16px;
        height: 16px;
        fill: $clr3;
        margin-left: 8px; /* Adjust margin to create space between icon and input */
        margin-right: 8px;
      }
    }
  }
  