.side-list {

    .side-preview-container {
        margin-left: 3px;
        gap: 0;

        // &:hover {
        //     background-color: $clr10;
        // }

        a.link.clicked {
            text-decoration: none;
            background-color: $clr11;
        }
    }

}