.side-bar {
    grid-area: side-bar;

    .actions-btns{
        display: flex;
        flex-direction: column;
    }

    .search-btn-container, .home-btn-container {
        display: flex;
        align-items: center; 
    }

    span{
        font-size: 1rem;
    }
}