.side-index {
    background-color: $clr8;
    padding: 0 8px 8px 8px;
    border-radius: $border-rad1;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;


    &.mobile {
        // display: flex;
        height: 50px;
        grid-area: l;

        // grid-column: 3;
        width: auto;
        border-radius: 0px;


        .top-bar {
            padding-left: 8px;

            .your-library {
                display: inline;
                width: auto;
                padding-top: 10px;
                padding-right: 60px;
                background: $clr8;


                span.library {
                    display: none;
                }

            }

            .add-btn {
                display: none;
            }
        }
    }

    .top-bar {
        display: flex;
        justify-content: space-between;
        height: 48px;
        align-items: center;
        padding: 8px 2px;
        margin-bottom: 8px;
        white-space: nowrap;

        .your-library {
            display: flex;
            @include btn($type: regular);
            align-items: center;
            width: 142px;
            height: 40px;
            // padding: 4px 8px;
            border-radius: 20%;
            font-size: rem(16px);
            flex: 1;

            svg {
                width: 30px;
                height: 24px;
                margin-right: 5px;
            }

            span.library {
                @include btn($type: regular);
                width: 112px;
                font-weight: bold;
                margin-left: 8px;
                font-family: circular-bold;
                display: flex;
            }
        }

        .add-btn {
            @include btn($type: regular);
            // width: 12px;
            // padding: 0;
            margin-top: 6px;
            border-radius: 20px;
            margin-right: 20px;
            padding: 5px 5px 1px;
            background-color: $clr8;

            &:hover {
                background-color: $clr11;
            }

            svg {
                // background-color: $clr8
            }
        }
    }

    .search-library {
        display: flex;
        margin-bottom: 5px;
        margin-left: 2px;

        .search-btn {
            background-color: $clr8;
            padding: 4px 5px 1px;
            display: flex;
            align-self: center;

            svg {
                margin-bottom: 3px;
            }

            path {
                fill: $clr3;
            }

            &:hover {
                background-color: $clr9;
                border-radius: 20px;

                path {
                    fill: $clr2;
                }

            }

        }

        .search-btn.close {
            background-color: $clr9;
            border-radius: 0;
        }

    }
}


.side-index-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr8;
    padding: 0 8px 8px 8px;
    border-radius: $border-rad1;
    // overflow-x: hidden;



    .top-bar-collapsed {
        display: inline;

        *> :not(:first-child) {
            display: none;
        }

        button.your-library-collapsed {
            width: 50px;

            @include btn($type: regular);
            align-items: center;
            height: 40px;
            border-radius: 20%;

            font-size: rem(16px);

            svg {
                width: 30px;
                height: 24px;
                margin-right: 5px;
            }

            span.library-collapsed {
                display: none;
            }
        }

        .add-btn-collapsed {
            display: none;
        }
    }

    .search-library-collapsed {
        margin-bottom: 5px;
        margin-left: 2px;

        .search-btn {
            background-color: $clr8;

            path {
                fill: $clr3;
            }

            &:hover {
                background-color: $clr9;
                border-radius: 20px;

                path {
                    fill: $clr2;
                }

            }
        }

        .search-btn.close {
            background-color: $clr9;
            border-radius: 0;
        }

    }

    // .mobile {
    //     display: none;
    // }
}