.side-sort-container {

    margin: 0 0 10px 3px;
    height: 37px;

    .btn:first-child {
        margin-left: 4px;
    }

    .btn {
        height: 32px;
        border-radius: 15px;
        padding: 4px 12px;
        font-size: $font-size-14;
        background-color: $clr11;
        margin-right: 12px;

        &:hover {
            background-color: $clr12;
        }
    }

    .btn-clicked {
        color: $clr1;
        background-color: $clr2;
        height: 32px;
        border-radius: 15px;
        padding: 4px 12px;
        margin-right: 12px;
    }

    .btn-clicked:first-child {
        margin-left: 4px;
        margin-right: 12px;
    }
}