.side-index {
    background-color: $clr8;

    width: 391px;
    border-radius: $border-rad1;

    .top-bar {
        justify-content: space-between;
        width: 388px;
        height: 48px;
        padding: 4px 15px;
        align-items: center;
        padding: $padding-8-16;

        .add-btn {
            @include btn($type: regular);
            width: 12px;

            svg {
                margin-right: 7px;
            }
        }

        .your-library {
            @include btn($type: regular);
            align-items: center;
            width: 142px;
            height: 40px;
            padding: 4px 8px;
            border-radius: 20%;
            font-size: rem(16px);

            margin-right: 176px;

            span.library {
                @include btn($type: regular);
                width: 112px;
                font-weight: bold;
            }
        }
    }

    .search-library {

        .search-btn {
            background-color: $clr8;

            path {
                fill: $clr3;
            }

            &:hover {
                path {
                    fill: $clr2;
                }

            }
        }

    }
}