.side-index {
    background-color: $clr8;

    width: 391px;
    border-radius: $border-rad1;

    .top-bar {
        justify-content: space-between;
        width: 388px;
        height: 48px;
        padding: 4px 15px;
        align-items: center;
        padding: $padding-8-16;

        .add-btn {
            background-color: $clr8;
            // padding: 8px 8px;
            // margin-left: em(16px);

            svg {
                margin-right: 7px;
            }

            &:hover {
                path {
                    fill: $clr2;
                }
            }
        }

        button.btn {
            align-items: center;
            width: 142px;
            height: 40px;
            padding: 4px 8px;
            border-radius: 20%;
            font-size: rem(16px);
            background-color: $clr8;
            color: $clr3;
            margin-right: 176px;

            &:hover {
                color: $clr2;

                path {
                    fill: $clr2;
                }
            }

            span.library {
                width: 112px;
                color: $clr3;
                margin-left: 16px;

                &:hover {
                    color: $clr2;
                }

            }

        }
    }

    .search-library {

        .search-btn {
            background-color: $clr8;

            path {
                fill: $clr3;
            }

            &:hover {
                path {
                    fill: $clr2;
                }

            }
        }

    }
}