.side-preview-line {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "img station";
    gap: 8px;
    margin-bottom: 8px;
    margin-left: 10px;

    img.side-preview-img {
        grid-area: img;
        width: em(48px);
        height: em(48px);
    }

    .station-preview-details {
        display: flex;
        flex-direction: column;
        grid-area: station;
        text-decoration: none;
        color: $clr2;

        span.station-name {
            // grid-area: station;
            // text-decoration: none;
            // color: $clr2;
        }

        span.station-created {
            font-size: em(14px);
            color: $clr3;
        }
    }

    .context-menu {
        width: 240px;
        height: 40px;

        .menu-list {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: $clr2;
            background-color: $clr11;


            button.edit-btn {
                background-color: $clr11;

                &:hover {
                    background-color: $clr9;

                }

                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;

                    path {
                        fill: $clr3;
                        stroke: $clr3;
                    }
                }

            }

            .horizontal-line {
                height: 2px;
                width: 100%;
                background-color: $clr12;
            }

            .delete-btn {
                background-color: $clr11;

                &:hover {
                    background-color: $clr9;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;

                    path {
                        fill: $clr3;
                        stroke: $clr3;
                    }
                }
            }
        }
    }




}