.station-preview {
    .station-img {
        // background-color: var(--card-color,#333);
        border-radius: 6px;
        box-shadow: 0 8px 24px rgba(0,0,0,.5);
        position: relative;
        width: 100%;
    }

    .toy-name{
        font-size: 1rem;
    }

    .toy-desc{
        color: $clr3;
    }

    }
    

    

