.station-details {
    max-height: calc(100vh - 115px);
    overflow-y: hidden;
    background-color: $clr8;
    border-radius: $border-rad1;
    --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");

    a {
        color: $clr14;
        font-size: $font-size-14;
    }

    a:hover {
        text-decoration: underline;
    }

    &:hover {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: em(10px);
        opacity: 0.5;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &:hover {
        overflow-y: auto;
        opacity: 1;
    }



    .info-station {
        position: relative;
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--background-noise);
        background-color: var(--bg-color);
        height: 439px;

        >*:not(::before) {
            position: relative;
        }

        // &::before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     pointer-events: none;
        // }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 232px;
            transform: translateY(100%);
            background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $clr8 100%), var(--background-noise);
            background-color: var(--bg-color);
        }

        .station-img-container {

            height: 258px;
            width: 258px;
            margin-left: 28px;
            padding-top: 155px;

            .station-img {
                width: 100%;
                height: auto;
                min-width: 128px;
            }
        }

        .text-station {

            display: flex;
            flex-direction: column;
            align-self: center;
            margin-left: em(20px);
            margin-top: auto;

            span.playlist {

                font-size: 0.875rem;
                margin-inline-end: em(520px);
                margin-left: 7px;
                margin-bottom: 4px;
            }

            h1.title-station {
                font-family: circular-bold, sans-serif;
                font-size: 100px;
                margin-left: 4px;
                margin-bottom: -2px;
            }
        }

    }

    .song-img {
        box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
        border-radius: em(4px);
        width: em(40px);
        height: em(40px);
        align-self: center;

    }

    .station-info {
        align-self: end;
        display: flex;
        gap: 1.5rem;
        margin-inline-start: 1.5rem;
        align-items: end;
        line-height: 1;
        margin-block-end: 1.34rem;
    }

    .user-info {
        align-items: center;
        margin-bottom: em(18px);

        .user-img {
            background-color: aqua;
            border-radius: 50%;
            width: 3%;
            margin: 0 7px 9px 7px;
        }

        span {
            font-size: $font-size-14;
            font-family: circular-light;
        }

        .created-by {
            font-size: $font-size-14;
            font-family: circular-bold;
            padding-bottom: 2px;
        }

        .info-songs {
            font-size: $font-size-14;
            font-family: circular-light;
            padding-bottom: 8px;
            margin-top: 3px;
            margin-left: 3px;

        }
    }

    .station-title-artist {
        flex-direction: column;
        margin-left: 9px;
    }



    //////////////////////////////////////////

    .menu-station {
        justify-content: space-between;

        &>* {
            background: none;
        }
    }

    .right-menu-btns {


        .play-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1ed760;
            height: em(56px);
            width: em(56px);
            color: black;
            border-radius: 32px;
        }

        .opt-btn {
            background: none;
        }
    }

    .options {
        background: none;
        opacity: 0;
    }


    .songs-details-container {
        // padding: 0 1rem;
        padding: 0 em(24px) 0 em(24px);
        position: relative;

        .heading-station {
            display: grid;
            position: sticky;
            top: 0;
            gap: 16px;

            span {
                color: $clr14;
            }

            grid-template-columns: 16px minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr);

            grid-template-areas: "idx title album date d";

            .hash {
                grid-area: idx;
            }

            .title {
                grid-area: title;
            }

            .album {
                grid-area: album;
            }

            .date {
                grid-area: date;
            }

            .duration {
                grid-area: d;
                margin-left: em(16px);
            }
        }

        ul {
            padding: 0;

        }

        .song-preview {
            margin-bottom: em(5px);
            display: grid;
            gap: 16px;
            align-items: center;
            transition: background-color 0.3s ease;

            &:hover {
                // background-color:#b3b3b3 ;
                // opacity: 0.3;
                background-color: hsla(0, 0%, 100%, .3);

                .options {
                    opacity: 1;
                }

                a {
                    color: $clr6;
                }
            }

            .dragging {
                pointer-events: none;
            }

            grid-template-columns: 16px minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr);

            grid-template-areas: "idx title album date d";

            .song-num {
                grid-area: idx;
                align-items: center;
                color: $clr14
            }

            .song-info {
                display: flex;
                grid-area: title;
            }

            .song-album {
                grid-area: album;
            }

            .song-added-time {
                grid-area: date;
                color: $clr14
            }

            .song-duration {

                color: $clr14;
            }

        }
    }

    .horizontal-line {
        background-color: rgba(255, 255, 255, 0.284);
        width: 100%;
        height: 1px;
    }
}