.update-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .update-modal {
        flex-direction: column;
        width: 524px;
        min-height: 384px;
        background-color: $clr11;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
        border-radius: 5px;

        .modal-content {
            background-color: $clr11;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
            padding: 24px 24px 24px 24px;

            .modal-top {
                display: flex;
                justify-content: space-between;
                width: 490px;
                background-color: $clr11;
                margin: 0px;
                align-items: center;

                h3 {
                    font-family: circular-bold;
                    font-size: 24px;
                    height: 24px;
                    font-weight: bold;
                    margin: 0;
                }

                .close-btn {
                    background-color: $clr11;

                    svg {
                        width: 16px;
                        height: 16px;
                    }

                    path {
                        stroke: $clr3;
                        fill: $clr3;
                        stroke: width 1px;

                    }
                }
            }


            .content-container {
                display: grid;
                width: 490px;
                grid-template-columns: 180px minmax(1fr, 280px);
                grid-template-rows: 32px 132px 32px 34px;
                grid-gap: 16px;

                grid-template-areas:
                    "img title"
                    "img desc"
                    ". save"
                    "discla discla";



                .station-name {
                    grid-area: title;
                    width: 280px;
                    height: 40px;
                    justify-self: end;

                    border: none;
                    outline: none;
                    border-radius: 5px;
                    padding: 0 12px;
                    margin-right: 10px;

                    background-color: $clr12;
                    color: $clr2;
                }

                .station-desc {
                    grid-area: desc;
                    width: 280px;
                    height: 124px;
                    justify-self: end;

                    border: none;
                    outline: none;
                    border-radius: 5px;
                    padding: 0 12px;
                    margin: 10px 10px 10px 0;
                    // margin-right: 10px;

                    background-color: $clr12;
                    color: $clr3;
                }

                .station-img {
                    grid-area: img;
                    background-color: $clr13;
                    width: 180px;
                    height: 180px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .image-upload-btn {

                        .svg-hover-txt {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }

                        svg {
                            width: 48px;
                            height: 48px;

                            path {
                                fill: $clr3;
                            }
                        }

                        .image-upload-img {
                            width: 100%;
                        }
                    }

                    img.image-preview {
                        width: 180px;
                    }

                    .file-upload {
                        margin: 20px 0;

                        .file-upload-label {
                            display: block;
                            margin-bottom: 10px;
                        }

                        input[type="file"] {
                            width: 180px;
                            height: 180px;
                        }
                    }
                }

                .disclaimer {
                    grid-area: discla;
                    font-size: $font-size-12;
                    font-weight: bold;
                }

                button.save-btn {
                    grid-area: save;
                    width: 99px;
                    height: 48px;
                    border-radius: 24px;
                    background-color: white;
                    color: black;
                    font-weight: bold;
                    font-size: em(16px);
                    margin-top: 10px;
                    margin-right: 10px;
                    place-self: end;
                    align-self: center;

                    &:hover {
                        transition: scale 1.01;
                        scale: 1.05;
                    }
                }
            }
        }
    }
}