@font-face {
     font-family: circular;
     src: url(../../fonts/CircularSp/CircularSpText-Medium.otf);
}
@font-face {
     font-family: circular-bold;
     src: url(../../fonts/CircularSp/CircularSpText-Bold.otf);
}