@font-face {
     font-family: circular-light;
     src: url(../../fonts/CircularSp/CircularSpText-Light.otf);
}
@font-face {
     font-family: circular-bold;
     src: url(../../fonts/CircularSp/CircularSpText-Bold.otf);
}