// Colors
$clr1: #000000;
$clr2: #ffffff;
$clr3: #b3b3b3;


// Old colors
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #121212;
$clr9: #2A2A2A;
$clr10: #1A1A1A;
$clr11: #282828;
$clr12: #3E3E3E;
$clr13: #282828;
$clr14: #a7a7a7;
$clr15: #131313;
$clr16: #383636;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-normal-breakpoint: 1100px;
$widest-normal-breakpoint: 1300px;
$wide-breakpoint: 1480px;
$widest-breakpoint : 1650px;

// Font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;

//Padding
$padding-1: 8px 12px;
$padding-8-16: 8px 16px;

//Border-Radius
$border-rad1: 7px;