// Colors
$clr1: #000000;
$clr2: #ffffff;
$clr3: #b3b3b3;


// Old colors
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #121212;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;

//Padding
$padding-1: 8px 12px;