.main-view {
    max-height: calc(100vh - 115px);
    overflow-y: hidden;
    grid-area: main-view;
    background-color: $clr8;
    border-radius: 7px;
    padding-inline: 4px;

    .list-name {
        font-family: circular-bold;
        font-size: 24px;
        padding-left: 10px;
    }

    &:hover {
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: em(10px);
        opacity: 0.5;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &:hover {
        overflow-y: auto;
        opacity: 1;
    }

    .home-btn {
        width: 22px;
        height: 24px;
    }

    .station-list-container {
        display: flex;
        max-width: 100%;
        position: relative;
        flex: 1 1 100%;
        margin-bottom: 16px;
        min-height: 200px;

        .station-list-item {

            .station-preview {
                max-width: 215px;
                min-height: 288px;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 12px;
                border-radius: 7px;
                cursor: pointer;

                &:hover {
                    background-color: $clr10;
                }

                .img-container {
                    width: 190px;
                    height: auto;

                    img {
                        // width: 100%;
                        // height: auto;
                    }
                }

                .station-desc {
                    color: $clr14;
                }

            }
        }
    }
}